.container {
  font-family: 'M PLUS Rouded 1c';
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: #121213;
  color: #fff;
  outline: none;
}
